<h1>Welcome to my quiz</h1>
<h2>{{ question }}                                      Score : {{score}} </h2>

<form method="post">
  <input type="radio" name="options" value={{ optionA }}> {{ optionA }}
  <br/><br/>
  <input type="radio" name="options" value={{ optionB }}> {{ optionB }}
  <br/><br/>
  <input type="radio" name="options" value={{ optionC }}> {{ optionC }}
  <br/><br/>
  <input type="radio" name="options" value={{ optionD }}> {{ optionD }}
  <br/><br/>
  <button type="submit">Submit</button>
</form>